<%= link_to image_tag(shot['image_url'], class: 'img-responsive', height: 250, width: 250), shot_path(shot['id']) %>
<p id="shot<%=shot['id']%>">
  <%= link_to shot['title'], shot_path(shot['id']), id: "shot#{shot['id']}" %>
</p>
<p id="shot">
  <span class="glyphicon glyphicon-eye-open"></span>
  <%= shot['views_count'] %>
</p>