<% if @shots.empty? %>
  <p id='noshots'>There are no shots at this moment</p>
<% else %>
  <div class="row">
    <%= render partial: 'shots/shot', collection: @shots['shots'] %>
  </div>
  <hr />
  <ul class="pager">
    <li><%= previous_page @shots %></li>
    <li><%= next_page @shots %></li>
  </ul>
<% end %>