<% if @shot.blank? %>
  <p id='noshot'>This shot could not be found</p>
<% else %>
  <div class="row">
    <div id="shot-section">
      <%= render partial: 'shots/collection', locals: {shot: @shot} %>
      <div id="player">
        <p><%= link_to image_tag(@shot['player']['avatar_url'], class: 'img-responsive', width: 50, height: 50), @shot['player']['url'] %></p>
        <p><%= link_to @shot['player']['name'], @shot['player']['url'] %></p>
      </div>
      <p><%= @shot['description'].html_safe %></p>
    </div>
  </div>
<% end %>