<ul class="nav navbar-nav">
    <li>
      <%= link_to "github", "https://github.com/viniciustelesbezerra" %>
    </li>
    <li>
      <%= link_to "bitbucket", "https://bitbucket.org/viniciustelesbezezerra/" %>
    </li>
</ul>